<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1><b>AirShare</b></h1>
                <h3>Connect and travel in relative style.</h3>
                <br>
            </div>

            <div class="col-lg-2">
                <h5>Before</h5>
                <p></p>
                <img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow1.png">
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="assets/img/airlineseats-before.png" width="360" height="304" alt="before">
  </div>
   <div class="col-lg-4">
                   <img class="img-responsive" src="assets/img/airlineseats-after.png" width="360"  height="304" alt="">
            </div>

            <div class="col-lg-2">
                <br>
                <img class="hidden-xs hidden-sm hidden-md" src="assets/img/arrow2.png">
                <h5>After </h5>
                <p></p>
            </div>
        </div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->

<div id="intro">
    <div class="container">
        <div class="row centered">
            <h1 class="ha1">Load Itinerary   →  Review Travel Matches  →   Travel with Dignity</h1>
            <br>
            <br>
            <div class="col-lg-6">
                <img src="assets/img/airline-discover.jpg" width="154" height="128" alt="">
                <h3 class="ha3">Discover</h3>
                <p class="pa">Flights with AirShare Members</p>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/airline-select.jpg" width="154" height="128" alt="">
                <h3 class="ha3">Select</h3>
                <p class="pa">Profiles of Potential Matches</p>
            </div>
         
        </div>

            <div class="row centered">
            <div class="col-lg-6">
                <img src="assets/img/airline-connect.jpg" width="154" height="128" alt="">
                <h3 class="ha3">Connect</h3>
                <p class="pa">Match and Introduction</p>
            </div>

              <div class="col-lg-6">
                <img src="assets/img/intro01.png" alt="">
                <h3 class="ha3">Feedback</h3>
                <p class="pa">Rank Your Match</p>
            </div>
        </div>
        <br>
        <hr>
    </div> <!--/ .container -->
</div><!--/ #introwrap -->
