<section id="signin" name="signin">
<!-- INTRO WRAP -->
<div class="span12" >
    <div class="container" data-ng-controller="AuthenticationController">

        <div class="row-fluid">

           <div class="span10 text-center" id="form-login">
                <form class="form-horizontal well">
                   
                        <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="FBlogin()">Login with Facebook</button>
                        <p class="helper-text" data-ng-show="!logged" >We never share anything without your explicit approval</p>
                  <!--  <section id="LoginFacebook">     <img src="images/yeoman.png" ng-click="authenticate('Facebook')" />
                    </section>-->
                    <fieldset>

                        <div class="control-group" data-ng-show="!logged" >
                            <h2 class="form-signin-heading">Please sign in</h2>
                                <label class="control-label">Username</label>

                            <div class="controls">
                                <input type="text" id="user_email" placeholder="Email Address" class="input-large span10" size="30">
                            </div>
                        </div>

                        <div class="control-group" data-ng-show="!logged" >
                        <label class="control-label">Password</label>

                            <div class="controls">
                                <input type="password" placeholder="Password" class="input-large span10" size="30">

                                <!-- Help-block example -->
                                <!-- <span class="help-block">Example block-level help text here.</span> -->
                            </div>
                        </div>

                        <div class="control-group" data-ng-show="!logged" >
                            <div class="controls">

                                <button type="submit" id="submit" class="btn btn-primary button-loading" data-loading-text="Loading...">Sign in</button>

                                <button type="button" class="btn btn-secondary button-loading" data-loading-text="Loading...">Forgot Password</button>

                            </div>
                        </div>

                         <div class="control-group" data-ng-show="logged" >
                            <div class="controls">

                                 <div class="alert alert-info" data-ng-show="logged">Hello, {{user.name}}</div>
                                   <div class="alert alert-info" data-ng-show="logged">Hello, {{user.email}}</div>
                                <div><!--Comment-->
                                    <!-- <fbdebug val="user"></fbdebug>
                                    <fbdebug val="email"></fbdebug>
-->
           

                </div>

                           


                <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" 
                data-ng-click="logout()">Logout</button>
                </form>



            </div>
      
        </div>
    </div>

   


  
    <div id="test"></div>
</div>
</section>

